# Dependency for UI 
streamlit
watchdog

# Backend dependencies
python-dotenv
fastapi[standard]
uvicorn

# Langchain dependencies
langchain_openai
langchain
langgraph

# Add these updated dependencies to requirements.txt
pinecone
pinecone-client>=3.0.0  
langchain-pinecone      
langchain-community     
